<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/mainapp/styles/signup.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
</head>
<body>
    <form>
        <h3 class="formheading" > Enter Email   ID :</h3> <input type="email" name="email" id="email" required><br><br>    
   
    <button type="submit" name="forgotpswdbtn" class="forgotpswdbtn" id="forgotpswdbtnbtn">Send me my password</button><br><br>
    
    <p class="alert"></p>    

</form>
</body>
</html>