<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/mainapp/styles/signup.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form>
        <h3 class="formheading" >Email   ID :</h3> <input type="email" name="email" id="email"><br><br>    
    <h3 class="formheading" >Password :</h3> <input type="password" name="password" id="password"><br><br>
    <button type="submit" name="loginbtn" class="btn" id="loginbtn">Login</button><br><br>
    <a href="login.html">Forgot password ? </a>
    <p class="alert"></p>    

</form>
</body>
</html>