<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/signup.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    
    <form>
    <h3 class="formheading" >First Name :</h3> <input type="text" name="fname" id="fname"><br><br>
    <h3 class="formheading" >Last  Name :</h3> <input type="text" name="lname" id="lname"><br><br>
    <h3 class="formheading" >Email   ID :</h3> <input type="email" name="email" id="email"><br><br>    
    <h3 class="formheading" >Password :</h3> <input type="password" name="password" id="password"><br><br>
    <h3 class="formheading" > Confirm Password :</h3> <input type="password" name="cpassword" id="cpassword"><br><br>
    <h3 class="formheading">Date of Birth :</h3><input type="date" name="dob" id="dob"><br><br>
    <button type="submit" name="registerbtn" class="btn" id="registerbtn">Register</button><br><br>
    <a href="login.html">Already a user , Login here -></a>
    <p class="alert"></p>
</form>


</body>
</html>