.signupbtn, .loginbtn{
    width:30%;
    height:50px;
    border-radius: 15px;
    border-style:solid;
    border-color:cornflowerblue;
    background-color:#212397;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{
    background-color:#181D31;
}

.signupbtn:hover, .loginbtn:hover{
    background-color:darkslateblue;
}

.box{
    width:50%;
    height:50%;
    margin-left: 40%;
    margin-right: 20%;
    margin-top:15%;
    margin-bottom:15%; 
}